.nav-burger {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 52px 16px 20px;
  width: 100%;
  max-width: 740px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: rgb(255, 255, 255);
  transition: transform .4s ease-in-out;
  transform: translateY(-100%);

  & ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 8px;

    & li {
      display: flex;
      width: 100%;
      text-align: left;

      & img {
        height: 24px;
      }
    }

    & a {
      padding-block: 4px;
      display: flex;
      align-items: center;
      width: 100%;
      line-height: 1.5;
      color: var(--black-90);
      gap: 8px;

      &:active {
        color: var(--black-90);
      }

      &:visited {
        color: var(--black-90);
      }
    }
  }

  &_active {
    transform: translateY(0);
  }
}


