#root {
  font-family: InterVariable, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.page {
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding-inline: 16px;
}
