.slider {
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x proximity;

  &__container {
    display: flex;
    width: 100%;
    gap: 8px;

    &_type_square {
      width: 100%;
    }
  }

  &__card {
    flex: 0 0 auto;
    scroll-snap-align: start;

    & img {
      height: 108px;
      border-radius: 12px;
      object-fit: cover;
    }
  }
}




