:root {
  --green: #14B8A6;
  --red: #FF3633;
  --navy-blue-1: #1E40AF;
  --navy-blue-2: #1D4ED8;
  --blue: #60A5FA;
  --black: #333333;
  --grey-1: #666666;
  --grey-2: #A6A6A6;
  --grey-3: #DAD6D6;
  --grey-1-search: #F2F2F2;
  --white: #FFFFFF;
}

.link {
  text-decoration: none;
}

.title {
  padding-block: 12px;
  text-align: left;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}
