#root {
  --accent-color: #FFDE66;
  --surfaces-color: #6750A407;
  --success-color: #14B8A6;
  --secondary-color: #EB8D37;
  --error-color: #FF3633;
  --primary-color-90: #1E40AF;
  --primary-color-80: #1D4ED8;
  --primary-color-70: #2563EB;
  --primary-color-40: #93C5FD;
  --black-90: #1A1A1A;
  --black-70: #4C4C4C;
  --black-80: #333333;
  --black-50: #808080;
  --black-40: #999999;
  --black-20: #CCCCCC;
  --black-5: #F2F2F2;
  --white: #FFFFFF;
}
